
<%- include('./header.html') %>

<link href="/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js"></script> 
   
<style>

    
  div.contentleft table.sbdata {
    border: 2px solid #f2f2f2;
    
  }
    
  div.contentleft table.sbdata th{
    color: #d9534f;
    background-color: #f2f2f2;
    padding: 10px; 
  }
  div.contentleft talbe.sbdata td {
     padding: 10px; 
  }

  
  div.contentleft .panel-body{
    padding-top: 0px;
  }
  
  div.contentright  li{
    padding: 4px;
  }
  
  div.contentright  li.active a{
    color: #d9534f;  
  }
  
  div.contentleft .datepicker table tr td, .datepicker table tr th {
    width: 100px;
  }
  
  span.curdate{
    color: #d9534f;
    padding-left: 5px;
    padding-right: 5px;
  }

  tr.datavalue td{
    font-weight:bold;
  }

    
</style>
  
<div class="row">

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 contentright">
  
<div class="panel panel-primary">
  <div class="panel-heading">站点</div>
  <div class="panel-body">
    <div id="sandbox-container"></div>
    <ul class="list-unstyled">
      <% for(var i=0;i<sblist.length;i++) {%>
        <li class="<%=zcode==sblist[i].ZSTCD?'active':''%>" ><a href="/index?zcode=<%=sblist[i].ZSTCD%>&date=<%=curdate%>"><%=sblist[i].ZSTCD%> <%=sblist[i].ZNAME%></a></li>
      <%}%>
    </ul>
  </div>
</div>
 
  
  

</div>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 contentleft">  
  
 <div class="panel panel-primary">
  <div class="panel-heading">
    
    <%if(!zcode){%>
      全部 <%=curdate%>
    <%} else {%>
      <% for(var i=0;i<sblist.length;i++) {%> 
        <% if(sblist[i].ZSTCD == zcode) {%>
          <%=sblist[i].NAME%> <%=curdate%>
          <%break;%>
        <%}%> 
      <%}%>
    <%}%>
    
  </div>
  <div class="panel-body">
    <nav>
      <ul class="pager">
        <li class="previous"><a href="/index?date=<%=predate%><%=zcode?'&zcode=' + zcode : '' %>"><span aria-hidden="true">&larr;</span> 前一天</a></li>
        <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" >当前日期 <span class="curdate"><%=curdate%></span> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>选择</a></li>        
        <li class="next"><a href="/index?date=<%=nextdate%><%=zcode?'&zcode=' + zcode : '' %>">后一天 <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
   
   <table class="table table-hover sbdata" >
    
    <tr>
      <th style="width:50px">序号</th>
      <th style="width:100px">采集时间</th>
      <th style="width:80px">水位(m)</th>
      <th style="width:80px">指标流速(m/s)</th>
      <th style="width:80px">平均流速(m/s)</th>
      <th style="width:80px">断面面积(m2)</th>
      <th style="width:80px">流量(m3/s)</th>
      <th style="width:50px">明细</th>
    </tr>
    
    
    <% for(var i=0;i < rows.length ; i++) { %>
      
      <tr class="">
        <td><%=(i+1) + (curpage -1) * 20 %></td>
        <td><%=rows[i].Z1 + '-' + rows[i].Z2 + '-' + rows[i].Z3 + ' ' + (rows[i].Z4 < 10 ? ('0' + rows[i].Z4):rows[i].Z4 ) + ':' + rows[i].Z5  %></td>
        <td><%=rows[i].Z9%></td>
        <td><%=rows[i].Z7/100%></td> 
        <td><%=rows[i].Z32/rows[i].Z33/100%></td>  
        <td><%=rows[i].Z33%></td>
        <td><%=rows[i].Z32%></td>
        <td>
          <a href="javascript:;" class="btn btn-primary willsign btn-xs btn-block" data-toggle="modal" data-target="#myModa<%=i%>"
             style="margin-top:0px;margin-bottom:0px">明细</a>
        
          <!-- Modal -->
          <div class="modal fade" id="myModa<%=i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog  modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">明细内容</h4>
                </div>
                <div class="modal-body">
                   <label>时间： <%=rows[i].Z1%>年<%=rows[i].Z2%>月<%=rows[i].Z3%>日<%=rows[i].Z4<10?('0'+rows[i].Z4):rows[i].Z4 %>时<%=rows[i].Z5%>分<%=rows[i].Z6%>秒</label> 
                  <table class="table table-condensed table-bordered">
                    <tr>
                      <td>参数</td>
                      <td>Vx</td>
                      <td>Vy</td>
                      <td>水位</td>
                      <td>流量</td>
                      <td>断面面积</td>
                    </tr>
                    <tr>
                      <td>单位</td>
                      <td>cm/s</td>
                      <td>cm/s</td>
                      <td>m</td>
                      <td>m3/s</td>
                      <td>m2</td>
                    </tr>
                    <tr class="datavalue">
                      <td>数据</td>
                     
                      <td><%=rows[i].Z7%></td>
                      <td><%=rows[i].Z8%></td>
                      <td><%=rows[i].Z9%></td>
                      <td><%=rows[i].Z32%></td>
                      <td><%=rows[i].Z33%></td>
                    </tr>
                    
                    <tr>
                      <td>参数</td>
                      <td>Vx标准误差</td>
                      <td>Vy标准误差</td>
                      <td>水位标准误差</td>
                      <td>Vx信号强度</td>
                      <td>Vy信号强度</td>
                      <td>水位信号强度</td>
                      <td>完好比率</td>
                    </tr>
                    <tr>
                      <td>单位</td>
                      <td>cm/s</td>
                      <td>cm/s</td>
                      <td>cm/s</td>
                      <td>counts</td>
                      <td>counts</td>
                      <td>counts</td>
                      <td>%</td>
                    </tr>
                    <tr class="datavalue">
                      <td>数据</td>
                      <td><%=rows[i].Z10%></td>
                      <td><%=rows[i].Z11%></td>
                      <td><%=rows[i].Z12%></td>
                      <td><%=rows[i].Z13%></td>
                      <td><%=rows[i].Z14%></td>
                      <td><%=rows[i].Z15%></td>
                      <td><%=rows[i].Z16%></td>
                    </tr>
                    
                    <tr>
                        <td>参数</td>
                        <td>艘向</td>
                        <td>Pitch</td>
                        <td>Roll</td>
                        <td>艘向标准偏差</td>
                        <td>Pitch标准偏差</td>
                        <td>Roll标准偏差</td>
                      </tr>
                      <tr>
                        <td>单位</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                      <tr class="datavalue">
                        <td>数据</td>
                        <td><%=rows[i].Z17%></td>
                        <td><%=rows[i].Z18%></td>
                        <td><%=rows[i].Z19%></td>
                        <td><%=rows[i].Z20%></td>
                        <td><%=rows[i].Z21%></td>
                        <td><%=rows[i].Z22%></td>
                      </tr>


                      <tr>
                          <td>参数</td>
                          <td>平均温度</td>
                          <td>平均压力</td>
                          <td>压力标准偏差</td>
                          <td>电压</td>
                          <td>采样开始位置</td>
                          <td>采样结束位置</td>
                          <td>波束1噪音</td>
                          <td>波束2噪音</td>
                          <td>波束3噪音</td>
                        </tr>
                        <tr>
                          <td>单位</td>
                          <td>℃</td>
                          <td>dbar</td>
                          <td>dbar</td>
                          <td>V</td>
                          <td>M</td>
                          <td>M</td>
                          <td>counts</td>
                          <td>counts</td>
                          <td>counts</td>
                        </tr>
                        
                        <tr class="datavalue">
                          <td>数据</td>
                          <td><%=rows[i].Z23%></td>
                          <td><%=rows[i].Z24%></td>
                          <td><%=rows[i].Z25%></td>
                          <td><%=rows[i].Z26%></td>
                          <td><%=rows[i].Z27%></td>
                          <td><%=rows[i].Z28%></td>
                          <td><%=rows[i].Z29%></td>
                          <td><%=rows[i].Z30%></td>
                          <td><%=rows[i].Z31%></td>
                        </tr>
                        

                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
              </div>
            </div>
          </div>

        </td>
       
      </tr>
    
  <%}%>  
    
  </table>
   
  <div class="pagebar">  
   
  </div>

</div>
          
  
  
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">选择日期</h4>
      </div>
      
      <div class="modal-bodydate" style="margin-left: 20px;">
      
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="enterdate" style="width:100px">确定</button>
      </div>
      
    </div>
  </div>
</div>
  
</div>  
  
 


<script src="/pagebar.js" type="application/javascript"></script>
<script>
  $(document).ready(function(){
    
    $('div.pagebar').pagebar(<%=rowcount%>,<%=curpage%>,"/index?page=$$&date=<%=curdate%><%-zcode ? '&zcode=' + zcode : '' %>");
    
    $('.sbdatepicker,.icon-th').datepicker({
      language: "zh-CN",
      todayHighlight: true
    });
    
    
    
    $('div.modal-content .modal-bodydate').datepicker({
      forceParse: false,
      todayHighlight: true,
      language: "zh-CN",
      todayHighlight: true
      //defaultViewDate: { year:<%=curdate.split('-')[0]%>, month:<%=parseInt(curdate.split('-')[1])-1%>, day:<%=curdate.split('-')[2]%> }
    }).on('changeDate',function(e){
      $('#enterdate').attr('changedate',e.date.getFullYear() + '-' + (e.date.getMonth()+1) + '-' + e.date.getDate());
    });
    
    $('#enterdate').on('click',function(){
      $('.bs-example-modal-sm').modal('hide');
      var mydate = $('div.modal-content .modal-body').datepicker('getdate');
      location.href = '/index?date=' + $(this).attr('changedate') + "<%- zcode ? '&zcode=' + zcode : ''%>";
    });
    
    
        
  });
          
</script>  
  
<%- include('./footer.html') %>
  
