
<%- include('./header.html') %>
  
<style>

    
  div.contentleft{
    border-radius:4px;
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0px;
  }
    
  div.contentleft table{
    border: 2px solid #f2f2f2;
  }
    
  
  div.contentleft table th{
    color: #d9534f;
    background-color: #f2f2f2;
    padding: 10px; 
  }
  div.contentleft .table td {
     padding: 10px; 
  }

    
  div.contentright{

  }

  div.contentright .logininfo{
    border-radius:4px;
    padding: 20px;
    background-color: #fff;
/*    height:100px;*/
  }
  
  div.contentright .sblist{
    margin-top: 20px;
    border-radius:4px;
    padding: 20px;
    background-color: #fff;
    height: 500px;
  }
  
  div.contentright .sblist li{
    padding: 4px;
  }

    
</style>
  
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 contentleft">  
    

      
  <table class="table table-hover" >
    
    <tr>
      <th style="width:50px">序号</th>
      <th style="width:80px">站码</th>
      <th style="width:100px">站名</th>
      <th style="width:100px">接收时间</th>
      <th style="width:80px">上升水位</th>
      <th style="width:80px">实际水位</th>
      
    </tr>
    
    
    <% for(var i=0;i < rows.length ; i++) { %>
      
      <tr>
        <td><%=(i+1) + (curpage -1) * 20 %></td>
        <td><%=rows[i].ZCODE%></td>
        <td><%=rows[i].NAME%></td>
        <td> <%=rows[i].myd %> </td>
        <td><%=rows[i].ZVOL%></td>
        <td><%= parseFloat(rows[i].ZVOL) + parseFloat(rows[i].bv) %></td>
        
      </tr>
    
  <%}%>  
    
  </table>
  
  <div class="pagebar"> </div>
  
  
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 contentright">
  <div class="logininfo">
    <div class="title">登录名:<%=loginname%></div> 
    
  </div>
  
  <div class="sblist">
    <ul class="list-unstyled">
      <li><a href="/index">全部</a></li>
      <% for(var i=0;i<sblist.length;i++) {%>
        <li><a href="/index?zcode=<%=sblist[i].STCD%>"><%=sblist[i].STCD%> <%=sblist[i].NAME%></a></li>
      <%}%>
      
    </ul>
    
  </div>
  

</div>  
</div>  
  
 


<script src="/pagebar.js" type="application/javascript"></script>
<script>
  $(document).ready(function(){
    
    $('div.pagebar').pagebar(<%=rowcount%>,<%=curpage%>,'/index?page=$$');
    
    $('div.sblist li span[zcode]').each(function(idx,item){
      var zcode = $(item).attr('zcode');
      var that = item;
      $.get('/sb',{zcode:zcode},function(data,status){
        if(data && status == 'success'){
          var sb = JSON.parse(data);
          $(that).html('<b>'+ zcode +'</b>' + sb.name);
        } 
        else{
          
        }
      });
    });
    
  });
          
</script>  
  
<%- include('./footer.html') %>
  
