body{
  font-family:  "Microsoft YaHei";
  background-color: #e1e1e1;
  margin-bottom: 30px;
}



/*分页*/
div.pagebar{
  color: blueviolet;
/*  padding: 20px 10px 20px 10px;*/
}

div.pagebar a{
  padding: 5px;
  text-decoration: none; 
}

div.pagebar a.active{
  background-color: aqua;
}


div.pagebar span.rowcount{
  margin-left: 10px;
  color: #333;
}
